/* Frontpage Sections */
#portada {
  .menu--main {
    position: sticky;
    top: 25rem;
    display: none;
    @media (min-width: 720px) {
      display: block;
    }
  }
}
#video {
  margin-block-start: 10rem;
  z-index: 4;
  position: relative;
  height: 120dvh;
  @media (min-width: 720px) {
    margin-block-start: 6rem;
  }

  &::after {
    content: "";
    display: block;
    height: 8rem;
    width: 70%;
    margin-left: calc(50% - 50vw);
    background: var(--white-sand);
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  .inline-blockbasic {
    position: sticky;
    top: 26.1rem;
    z-index: 2;
    line-height: 0.8;
    @media (min-width: 720px) {
      top: 16rem;
    }
  }
}

#fotografias {
  height: 150dvh;
  background-color: var(--white-sand);
  position: relative;
  z-index: 4;
  .simple-blockpage-title-lamirada-laborda {
      position: sticky;
      top: 6rem;
      z-index: 0;
    }
  .views-blockexposiciones-block-1 {
    position: sticky;
    top: 6rem;
    margin-block-end: 4rem;
  }
  .page-title--exposiciones {
    position: absolute;
    top: 0;
    font-size: 2.6rem;
    @media (min-width: 720px) {
      font-size: 4.3rem;
    }
  }
  .views-blockexposiciones-block-1 .view-header {
    position: sticky;
    top: 11rem;
    h2 {
      margin-inline-start: -.2rem;
      margin-block-start: 0;
      margin-block-end: 7rem;
      background-color: var(--white-sand);
      line-height: .8;
      z-index: -1;
    }
  }
}

#servicios {
  background-color: var(--white-sand);
  .layout__region--first {
    position: sticky;
    max-width: 50%;
    top: 20rem;
    z-index: 4;
    @media (min-width: 720px) {
      top: 6rem;
    }
  }
  #menu-services {
    padding-inline-start: 0;
    margin-block-start: 0;
    font-size: 1.6rem;
    @media (min-width: 720px) {
      padding-inline-start: 1rem;
      word-spacing: 1rem;
      font-size: 2.2rem;
    }
  }
  .layout__region--second {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-basis: 100%;
    flex-direction: column;
    @media (min-width: 720px) {
      flex-direction: row;
    }
  }
  .portada-services-description {
    flex-basis: 33.33%;
  }
  .menu--servicios {
    position: sticky;
    top: 1rem;
    flex-basis: 63.66%;
    font-size: 2.2rem;
    height: 100dvh;
    background-color: var(--white-sand);
    z-index: 3;
    @media (min-width: 720px) {
      top: 18rem;
    }
    a {
      color: var(--grey-300);
      &.active {
        color: black;
      }
    }
    h2 {
      border-inline-start: solid 0.7rem black;
      padding-inline-start: 1rem;
      margin-inline-start: -2rem;
      margin-block-end: 0;
    }
    .menu {
      margin-block-start: 0.6rem;
    }
  }
  .scrollspy-example {
    margin-inline-start: auto;
    margin-top: 15rem;
    margin-left: 4rem;
    background-color: var(--white-sand);
    height: 150dvh;
    &:before {
      content: "";
      display: block;
      width: 4rem;
      height: 100%;
      position: absolute;
      background-image: url(../images/film_frame_video.png);
      background-color: var(--white-sand);
      background-repeat: repeat-y;
      top: 0;
      left: 0;
      transform: rotate(0deg);
      background-size: 4rem;
    }
    .services-description {
      border-block: solid 1rem black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-inline: 1rem;
      padding-block-start: 1rem;
      text-transform: initial;
      h4 { padding-block-end: .5rem;}
      p {
        margin-block-start: 0;
        font-family: Tahoma, sans-serif !important;
        font-size: 0.9rem;
        line-height: 1.5;
        letter-spacing: 0.7px;
      }
    }
  }
}

#contacto {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: initial;
  align-items: center;
  flex-direction: row;
  &::after {
    content: "";
    display: block;
    position: absolute;
    height: auto;
    inset: 0;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    z-index: -4;
    background-size: cover;
    background-image: url("../images/portada-800w.jpg");
    background-attachment: fixed;
    background-position: top right;
  }
  .title-contacto {
    padding-block-end: 2rem;
    font-size: var(--fs-lg);
    color: var(--white-sand);
    writing-mode: sideways-lr;
  }
  .contact_email a {
    display: flex;
    font-size: 1rem;
    color: var(--white-sand);
    background: black;
    margin-block-end: 1rem;
    @media (min-width: 720px) {
      font-size: 2rem;
    }
  }
}
