.page-title {
  display: flex;
  gap: 0.4rem;
  width: 100%;
  justify-content: center;
  padding-block: 1rem;
  font-family: "Alatsi", serif;
}
.simple-blockvideos-y-fotos-menu-principal {
  display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100dvh - 180px);
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    line-height: 1;

    p {
      margin: 0;
    }
}
