/* Botones */
.btn-transparent {
  border: none;
  background-color: transparent;
}

.path-frontpage .dialog-off-canvas-main-canvas {
  height: 100dvh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  height: 70dvh;
  background-color: white;

  @media all and (min-width: 768px) {
    /* height: 50dvh; */
  }
}



#showPhotos,
#showVideos {
  transition: all .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  position: relative;
  opacity: 1;
  z-index: 2;
}

#showPhotos.inactive {
  transform: translateY(-100dvh);
}

#showVideos.inactive {
  transform: translateY(100dvh);
  opacity: 0;
}

#showVideos.active {
  transform: translateY(0);

  @media all and (min-width: 768px) {
  transform: translateY(0);
  }
}

#showPhotos.active {
  transform: translateY(-6.6rem);

  @media all and (min-width: 768px) {
    transform: translateY(-11.2rem);
  }
}


.btn-action {
  color: rgba(198, 16, 16, 0.735);
  font-size: 1.6rem;
}
.btn-service {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 0;
}

#contacto {

}

.block-contacto {
  display: flex;

  &::after {
      content: "";
      display: block;
      position: absolute;
      height: auto;
      inset: 0;
      width: 100vw;
      margin-left: calc(50% - 50vw);
      z-index: -4;
      background-size: cover;
      background-image: url("../../images/portada-800w.jpg");
      background-attachment: fixed;
      background-position: top right;
    }

  h2 {
    writing-mode: sideways-lr;
    height: 100%;
    margin-block-end: auto;
    width: max-content;
    text-align: center;
    font-family: "Alatsi", serif;
    font-size: 5rem;
    font-weight: lighter;
    color: white;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
  }
}


.section {
  position: relative;
}

.section--home {
  height: 61svh;
}


/* Colorbox */
#colorbox {
  img {
    width: 1200px;
    max-width: 100%;
    height: 100vh;
    object-fit: contain;
  }
}
