:root {
  --black: #000;
  --orange: #000;
  --grey-light: #a9a9a9;

  --ff-alatsi: "Alatsi", serif;
  --ff-anton: "Anton", sans-serif;
}
body {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: var(--black);
}
.dialog-off-canvas-main-canvas {
  position: relative;
}
