.system-branding-block {
  display: flex;
  font-size: var(--fs-md);
  padding-inline-start: .3rem;
}

.site-slogan {
  color: var(--grey-500);
}

.page-title {
  font-size: 3.2rem;
  line-height: 0.8;
  /* margin-inline-start: -0.4rem; */
  @media (min-width: 720px) {
    font-size: var(--fs-lg);
  }
}
.page-slogan {
  border-inline-start: solid 0.4rem black;
  margin-block: 1rem;
  margin-inline-start: 0rem;
  padding-inline-start: 1rem;
  font-size: var(--fs-md);
  color: var(--grey-500);
}

.page-slogan__first {
  position: sticky;
  top: 26.5rem;
  background-color: var(--white-sand);
  @media (min-width: 720px) {
    top: 18.5rem;
  }
}

.page-slogan__last {
  position: sticky;
  top: 28rem;
  z-index: -1;
  @media (min-width: 720px) {
    top: 21rem;
  }
}
