.main-menu {
  margin-block-start: 10rem;
  font-size: 2rem;
  /* font-size: clamp(var(--fs-xs), -0.4286rem + 4.5714vw, var(--fs-md)); */
  list-style: none;
  margin: 0;
  padding-inline: 0;
  flex-wrap: wrap ;
  @media (min-width: 720px) {
    width: 50%;
    flex-wrap: nowrap ;
    /* font-size: clamp(var(--fs-xs), -0.4286rem + 4.5714vw, var(--fs-md)); */
  }
  .menu-item {
    margin: 0;
    width: 60%;
    @media (min-width: 720px) {
      width: 100%;
    }
  }
}

.secondary-menu {
  width: 65%;
  flex-wrap: wrap;
  margin: 0;
  margin-block: .5rem;
  padding-inline: 0;
  list-style: none;
  border-block: solid 1.5px #636363;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  @media (min-width: 720px) {
    font-size: clamp(0.8rem, -2.9143rem + 11.8857vw, 1rem);
  }
}
